// CSS for use on every page. Added with normalize.css in pages/_app.tsx.

@import "variables";
@import "typography";

.flex{
  display: flex;
  flex-wrap: wrap;
  .column1{
    width: 35vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    p{
      width: 85%;
      margin: auto;
      font-family: "shift", serif;
      text-transform: none; 
      line-height: 1.2;
      font-size: $large-body;
    }
  }
}

.logo-container{
  width: 60%;
  // margin-top: 4vw;
  margin: 4vw 0;
}

.logo{
  display: block;
  background-color: white;
  border-radius: 50%;
  // border: 1px solid black;
  filter: drop-shadow(1px 1px 50px rgba(0,0,0,0.1));
}

svg g path{
  fill: black!important;
}

.post-highlight-item{
  width: 55vw;
  margin-left: 5vw;
  height: 100%;
  padding: 14px 0;
  margin-top: 2vw;
  img{
    width: 100%;
    height: 100%;
  }
  text-align: center;
}

.grid{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 48px;
  .post-item{
    width: 30vw;
    border-top: 1px solid $black;
    border-bottom: 1px solid $black;
    padding: 14px 0;
    height: 100%;
    img{
      height: 100%;
      width: auto;
      max-width: 80%;
      max-height: 500px;
    }
    text-align: center;
  }
}

.article{
  .headline{
    max-width: 900px;
    margin: auto;
    padding-left: 150px;
    box-sizing: border-box;
    margin-bottom: 48px;
    line-height: 1;
  }
  .wrap{
    width: 900px;
    margin: auto;
    img, figure{
      width: 100%!important;
      height: auto!important;
      margin: auto 0;
    }
  }
}

.info-bar{
  width: 900px;
  margin: 24px auto;
  font-size: $captions;
  display: flex;
  justify-content: space-between;
  padding-left: 150px;
  box-sizing: border-box;
  .date{
    width: 30%;
    .field{
      text-transform: capitalize;
      border-bottom: 1px solid $black;
      opacity: 0.8;
    }
    .data{
      margin-top: 5px;
    }
  }
}
